<h1>A scary story</h1>
<p>Ahh, Fall. Who doesn't <strong>@Model.Verb1</strong> 
that time of the year when the weather gets <strong>@Model.Adjective1</strong> 
and the <strong>@Model.PluralNoun1</strong> 
start to change. Halloween is a time for carving <strong>@Model.PluralNoun2</strong>, 
<strong>@Model.Verb1</strong> candy, and throwing a/an 
<strong>@Model.Adjective2</strong> Halloween party. Halloween parties are 
certainly <strong>@Model.Adjective3</strong>, but preparing for them can be stressful. However, as long as you remain 
cool and <strong>@Model.Adjective4</strong>, your 
<strong>@Model.Noun3</strong> will be something everyone will 
<strong>@Model.Verb2</strong>. First of all, 
you must dress <strong>@Model.Adverb1</strong>. 
Your costume must be <strong>@Model.Adjective5</strong> 
enough to ensure you are the <strong>@Model.Noun4</strong> of 
the party. Classic costumes such as vampires and <strong>@Model.PluralNoun5</strong> 
are always a hit, and keep in mind that comfort is <strong>@Model.Adjective6</strong>. 
This will be a <strong>@Model.Adjective7</strong> evening, and you don't 
want your <strong>@Model.PartOfTheBody</strong> to be sore later. 
Knowing who to invite is also <strong>@Model.Adjective8</strong>. Ideally, 
you want someone <strong>@Model.Adjective9</strong> 
like <strong>@Model.Celebrity</strong>. If that person 
can't <strong>@Model.Verb3</strong>, 
<strong>@Model.VerbEndING</strong> someone 
like <strong>@Model.PersonInRoom</strong> isn't a bad idea, 
but just make sure they don't <strong>@Model.Verb4</strong> too much like last year. 
Don't let them have more than <strong>@Model.Number</strong> 
<strong>@Model.PluralNoun6</strong> so you don't wind up spending the 
entire party holding their <strong>@Model.PartOfTheBody</strong> 
back as they <strong>@Model.Verb2</strong> 
all over the <strong>@Model.Noun3</strong>. Keep in mind that you're the host, 
and other <strong>@Model.PluralNoun1</strong> 
need your <strong>@Model.Noun5</strong> too. As long as you are friendly
and <strong>@Model.Adjective2</strong>, and you provide 
plenty of <strong>@Model.Adjective4</strong> music 
and some delicious <strong>@Model.Noun6</strong>, your guests 
will <strong>@Model.Verb5</strong> you. If you follow these tips, 
your <strong>@Model.PluralNoun1</strong> 
will <strong>@Model.Adverb1</strong> come back in December for 
your <strong>@Model.Noun7</strong> party.
</p>