<h1>A fantastical story</h1>
<p>There once was a land named 
<strong>@Model.Name1</strong>. The land had 
lots of <strong>@Model.PluralNoun1</strong>, 
<strong>@Model.PluralNoun2</strong>,
and <strong>@Model.PluralNoun3</strong>.
In <strong>@Model.Name1</strong> there were 
many different <strong>@Model.PluralNoun4</strong>.
Some of the <strong>@Model.PluralNoun4</strong> 
were half <strong>@Model.Adjective1</strong> 
and half <strong>@Model.Adjective2</strong>, 
while the other <strong>@Model.PluralNoun5</strong> 
looked like <strong>@Model.Adjective3</strong> 
<strong>@Model.PluralNoun6</strong>.</p>